* {
    
    color: #1c1e21;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    padding: 100px;
    margin: 4px;
    background: #f2f4f7;
    padding-bottom: 200px;
}
.main-text {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-family: Freight Sans Bold, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 36px;
    padding: 80px 70px 24px;
    text-rendering: optimizelegibility;
    width: 456px;
    
   
}
.main-text img {
    width: 90vh;
    height: 106px;
    margin-bottom: -20px;
    position: relative;
    left: -153px;
}


.login-form  {
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    height: 360px;
    padding: 50px 16px;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}




.form-page {
    display: block;
    
}
.form-page input {
    padding: 14px 16px;
    width: 330px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: #dddfe2 solid 0.5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.form-page input[type="text"]:focus {
    border: 1px solid #0866ff;
    outline: none;
    
}
.form-page input[type="password"]:focus {
    border: 1px solid #0866ff;
    outline: none;
}
.form-page button {
    width: 330px;
    height: 40px;
    background: #0866ff;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
}
.form-page p {
    margin-bottom: 15px;
    color:#0866ff;
   
}
.form-page a {
    color: #0866ff;
    text-decoration: none;

}
.form-page a:hover {
    color: #0866ff;
    text-decoration: underline;
}
.form-page u {
    margin-bottom: 15px;

}
.new-acc button{
    
    width: 200px;
    height: 40px;
    color: white;
    background: #36a420;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;

}

.celebrity-pg {
    position: absolute;
    top: 530px;
    left: 750px;
    font-weight: 400;
}


.celebrity-pg a{
    font-weight: 600;
    text-decoration: none;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif
}
.celebrity-pg a:hover{
    text-decoration: underline;
}



footer {
    color: #737373;
    margin: 0 auto;
    width: 980px;
    margin-top: 10px;
    
    
}

.footer-details ul{
   
    list-style-type: none;
    text-decoration: none;
}

.langu {
    color: #333;
    list-style: none;
    margin-top: 20px;
    margin: 1px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.langu li a {
    text-decoration: none;
    color: #1c1e21;
    font-size: 13px;
    padding: 1px 25px;
    display: inline-block;
}
.langu li a:hover{
    text-decoration: underline;
}

.footer-lang hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.redirect-line {
    color: #333;

    font-family: Helvetica, Arial, sans-serif;
    list-style: none;
    padding: 0;
    margin: 1px 25px;
    display: flex;
    
    gap: 10px;
  
}

.redirect-line li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  
}

.redirect-line li a:hover {
  text-decoration: underline;
}



.non-user-contact  {
    
    margin: 10px 25px;
    text-decoration: none;
    
}
.non-user-contact a {
    text-decoration: none;
}
.non-user-contact a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 10px 25px;
}